<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>


<body>

  <!--Inicia Header-->
  <header class="header">

    <div class="contenedor">
      <div class="logo">
        <p> <a href="../../index.html"> <img src="../img/Logoweb.png" style
              width="0px"></a></p>
    <nav class="header__contenido"> 
   
      <ul class="menu flex-row">
        <li class="menu__item">
          <a href="./noticias.html" class="menu__link">Noticias</a>
        </li>
        <li class="menu__item">
          <a href="./sneakers.html" class="menu__link">Sneakers</a>
        </li>
        <li class="menu__item">
          <a href="./streetwear.html" class="menu__link">Streetwear</a>
        </li>
        <li class="menu__item">
          <a href="./accesorios.html" class="menu__link">Accesorios</a>
        </li>
        <li class="menu__item">
          <a href="./contacto.html" class="menu__link">Contacto</a>
        </li>
      
      </ul>
    </nav>
  
    </div>
  
    </header>

  <!--Finaliza Header-->

  <!-- Inicia Formulario de contacto-->

  <form class="formulario">
    <h2 class="Encabezado_formulario">CONTACTANOS</h2>
    <p type="Nombre:"><input placeholder=""></input></p>
    <p type="Email:"><input placeholder=""></input></p>
    <p type="Mensaje:"><input placeholder=""></input></p>
    <button class="enviar_mensaje">Enviar Mensaje</button>
    <div class="contact">
    </div>
  </form>

  <!--Termina Formulario de contacto-->


  <!--Inicia Footer-->

  <footer class="footer">
    <div class="contenedor">
      <footer>
     <div class="logo">
          <p> <a href="index.html"> <img src="../img/Logowebfooter.png" style
                width="0px"></a></p>
         
        </div>
    
        <ul class="socials">
          <a href="https://twitter.com/LyonAguilar/"> <img src="../img/fbpng.png"
              style="width: 30px;"></a>
          <a href="https://www.facebook.com/BeHumbl3/"> <img src="../img/60580.png"
              style="width: 30px;"></a>
        </ul>
    
        <p>©2022 Troubles, Inc. Todos los
          derechos reservados.</p>
    </div>
    
    </footer>

    <!--Termina Footer-->

</body>

</html>