/*RESET*/

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }


/*Globals*/

html {
    height: 100vw;
    font-size: 62.5%;
    color: black;
}

body {
    min-height: 100vh;
}


ul {

    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
